/* Empty. Add your own CSS if you like */

.background, .background .pane {
	background-color: #F7F9FB;
}

.bar.bar-stable .title {
    color: #ffffff;
}

.bar.bar-stable {
    border-color: #b2b2b2;
    background-color: #00B140;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}

.btn-next {
	background-image: url(../img/btn_next.png);
	float: right;
    width: 24px;
    height: 24px;
    margin: 10px 0;
}

.button {
	background-color: #ffffff;
	color: #9B9B9B;
}

.button-bar {
	background-color: #ffffff;
}

.button.active, .button.activated {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.button.button-stable {
    border-color: transparent;
    background-color: #CCD6DD;
    color: #ffffff;
}

.button.button-stable.active, .button.button-stable.activated {
    border-color: #a2a2a2;
    background-color: #CCD6DD;
    color: #ffffff;
}

.button.button-balanced {
    border-color: transparent;
    background-color: #00B140;
    color: #ffffff;
}

.button.button-balanced.active, .button.button-balanced.activated {
    border-color: #a2a2a2;
    background-color: #00B140;
    color: #ffffff;
}

.padding h1 {
	text-align: center;
	font-size: 32px;
	color: #14202C;
	padding: 30px 0 0 0;
}

h4 {
	color: #363A45;
}

p {
	color: #565D6B;
}

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: none;
}

.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #EAEFF2;
    border-radius: 4px;
}

.card .item {
	padding: 60px 0;
	background-color: #EAEFF2;
	border: 1px solid #CCD6DD;
}

.card .item p {
	color: #00B140;
}

.item {
	background-color: #EAEFF2;
}

.item .form {
	font-size: 16px;
	color: #363A45;
}

.input-label {
    color: #565D6B;
    font-size: 14px;
}

.content-center {
	text-align: center;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.fail {
	color: #E05A30;
}

.done {
	color: #00B23E;
}